/*CSS*/
body {
  margin: 0 auto;
  background-color: rgb(235, 232, 232);
}

/*Header*/
header {
  background-color: rgb(110, 199, 228);
  color: #fff;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
}

/*Main*/

main h2 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.filter-knapper-1 {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.5rem;
  gap: 10px;
}

.filter-knapper-2 {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.5rem;
  gap: 10px;
}

.filter-knapper-2 p {
  font-size: 1.1rem;
}

button {
  padding: 0.2rem 1rem;
  font-size: 0.9rem;
  background-color: rgb(197, 225, 253);
  border: solid;
  border-radius: 5px; /*Kilde: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-radius*/
  border-color: rgb(88, 185, 249);
}

#ansatte-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1100px;
  padding: 1rem 0;
  gap: 20px;
}

#ansatte-info article {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 3px;
}

.titler {
  font-weight: bold;
}

/*Main register*/

.register #ansatte-info button {
  display: none;
}

/*Main admin*/
.skjema {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

.legg-til-ansatt {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 200px;
  gap: 10px;
}

.skjema .legg-til-ansatt {
  padding: 1.5rem;
}

.legg-til-ansatt,
label,
input,
select {
  padding: 0.3rem;
}

.skjema form label {
  font-size: 1.1rem;
}

.skjema button {
  padding: 1rem 2rem;
}

/*Footer*/
footer {
  padding: 1.5rem 0;
}

footer h2 {
  font-size: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

footer ul li {
  padding: 0.4rem;
  font-size: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}
